[submodule "Assets/_MODULES/Architecture_M"]
	path = Assets/_MODULES/Architecture_M
	url = https://github.com/SanyaLorik/Architecture_M.git
[submodule "Assets/_MODULES/SanyaBeerExtension"]
	path = Assets/_MODULES/SanyaBeerExtension
	url = https://github.com/SanyaLorik/SanyaBeerExtension.git
